@import '../../styles/effects';

.loading-container {
    @include fade-in(1s, 0s);
    display: flex;
    justify-content: center;
}

.councils-container {
    @include fade-in(1s, 0s);
}

.councils-nav {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
}

.ant-comment-avatar {
    cursor: default;
}

#controls-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__controls {
        width: 100%;
        margin-bottom: 20px;
    }
    &__restart {
        float: left;
        text-align: center;
    }
    &__refresh {
        float: right;
    }
}
#create-council-form {
    width: 100%;
    text-align: center;
}

#announcements-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    #create-council-form {
        width: 75%;
    }
    #controls-container__controls {
        width: 75%;
    }
}

@media screen and (min-width: 992px) {
    #create-council-form {
        width: 50%;
    }
    #controls-container__controls {
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    #create-council-form {
        width: 40%;
    }
    #controls-container__controls {
        width: 40%;
    }
    #announcements-wrapper {
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media screen and (min-width: 1600px) {
    #create-council-form {
        width: 30%;
    }
    #controls-container__controls {
        width: 30%;
    }
    #announcements-wrapper {
        padding-left: 30%;
        padding-right: 30%;
    }
}
