@import '../../styles/effects';

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

.title {
  display: flex;
  justify-content: center;
  margin: 2%;
  @include fade-in(0.5s, 0s);
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Segoe UI",
  "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", sans-serif;
}

.ant-card-meta-title {
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Segoe UI",
  "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", sans-serif;
}

.card {
  width: 300px;

  &__quests {
    @extend .card;
    @include fade-in(0.5s, 0.3s);
  }

  &__live-classroom {
    @extend .card;
    @include fade-in(0.5s, 0.4s);
  }

  &__hero-council {
    @extend .card;
    @include fade-in(0.5s, 0.5s);
  }

  &__profile {
    @include fade-in(0.5s, 0.6s);
  }

  &__item-store {
    @extend .card;
    @include fade-in(0.5s, 0.7s);
  }

  &__leaderboard {
    @extend .card;
    @include fade-in(0.5s, 0.8s);
  }

  &__logout {
    @extend .card;
    @include fade-in(0.5s, 0.9s);
  }

  &__admin-panel {
    @extend .card;
    @include fade-in(0.5s, 1s);
  }
}
