@import '../../styles/effects';

#landing-cover {
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.1) 60%, rgba(255, 255, 0, 0.1) 90%) /*linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))*/, url("/Landing1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    /*box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.5);*/
}

.landing-container {
    text-align: center;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.logo {
    @include fade-in(0.5s, 0.1s);
    -webkit-filter: drop-shadow(0 0 3px white);
    filter: drop-shadow(0 0 3px white);
    width: 25%;
    height: 100%;
}

.sign-up-button {
    @include fade-in(0.5s, 0.5s);
}
.log-in-button {
    @include fade-in(0.5s, 0.7s);
}

.ant-btn-primary {
    background-color: #FFD700;
    border-color: #FFD700;
    color: #bd2031;
}
.ant-btn-primary:hover, .ant-btn-primary:focus {
    background-color: #ffc800 !important;
    border-color: #ffc800 !important;
    color: #bd2031 !important;
}
