.App {
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  /* Use "transform" to allow "position: fixed" descendants to position themselves in relation to App */
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

/*body {
  background: linear-gradient(-45deg, #c7ffd8, #b0d6ff, #a6dbff);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}*/

$height:100%;
$width:100%;

$colorA: white;//rgba(236, 240, 241,.6);
$colorB: white;//rgba(236, 240, 241,.0);

@import url(https://fonts.googleapis.com/css?family=Roboto:700);

body{
  font-family: 'Roboto', serif;
}

/*
#layer1{
  position: absolute;
  height: 100%;
  width: 100%;
  background: repeating-linear-gradient(
                  90deg,
                  $colorB,
                  $colorA,
                  $colorB
  );
  animation: layer1 10s linear infinite alternate;
}

#layer2{
  position: absolute;
  height: 100%;
  width: 100%;
  background: repeating-linear-gradient(
                  90deg,
                  $colorB,
                  $colorA,
                  $colorB
  );
  animation: layer2 15s linear infinite alternate;
}

@keyframes layer1 {
  0% {background-position: 1000px 0;}
  50% {background-position: 500px 0;}
  100% {background-position: 0 0;}
}
@keyframes layer2 {
  0% {background-position: 0 0%;}
  50% {background-position: 500px 0%;}
  100% {background-position: 1000px 0;}
}*/

#landing-cover {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/Landing.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  z-index: 0;

  /*filter: blur(3px);
  -webkit-filter: blur(3px)*/
}
